<a href="https://colab.research.google.com/github/fizandata19/30-Days-of-Python/blob/main/30_Days_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1  # Excercise Level 1
#INTRODUCTION

In [ ]:
# Open the python interactive shell and do the following operations. The operands are 3 and 4.
# addition(+)
# subtraction(-)
# multiplication(*)
# modulus(%)
# division(/)
# exponential(**)
# floor division operator(//)
print(3 + 4)
print(3 - 4)
print(3 * 4)
print(3 / 4)
print(3 ** 4)
print(3 % 4)
print(3 // 4)

7
-1
12
0.75
81
3
0

In [ ]:
# Write strings on the python interactive shell. The strings are the following:
# Your name
# Your family name
# Your country
# I am enjoying 30 days of python
print("Fizan Latif")
print("Ansari")
print("Pakistan")
print("I am enjoying 30 days of python")

Fizan Latif
Ansari
Pakistan
I am enjoying 30 days of python

In [ ]:
# Check the data types of the following data:
# 10
# 9.8
# 3.14
# 4 - 4j
# ['Asabeneh', 'Python', 'Finland']
# Your name
# Your family name
# Your country
print(type(10))
print(type(9.8))
print(type(3.14))
print(type(4 - 4j))
print(type(['Asabeneh', 'Python', 'Finland']))
print(type("Fizan Latif"))
print(type("Ansari"))
print(type("Pakistan"))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
# Write an example for different Python data types such as Number(Integer, Float, Complex), String, Boolean, List, Tuple, Set and Dictionary.
print(5675757)
print(3456.546)
print(34 + 4j)
print("StemEye")
print(12 < 2)
print([12,35,"fans"])
print(34,43,56,"fans")
print({"Name = Fizanlatif"})
print(type({"Name = Fizanlatif"}))
print(type({"Age" : "23"}))

5675757
3456.546
(34+4j)
StemEye
False
[12, 35, 'fans']
34 43 56 fans
{'Name = Fizanlatif'}
<class 'set'>
<class 'dict'>

In [ ]:
# Find an Euclidian distance between (2, 3) and (10, 8)

#Day 2 Excercise level 1
#VARIABLES, BUILTIN FUNCTIONS

In [ ]:
# _abs_ Function
print(abs(-23-12.576j))

26.213656288278443

In [ ]:
# All Function
int_list = [1,3,5,7,8]
result = any(int_list)
print(result)

True

In [ ]:
def any(iterable):
    for element in iterable:
        if element:
            return True
    return False

In [ ]:
int_list = ['a = 9','b = 6']
result = any('3')
print(result)

True

In [ ]:
format(4,'b')

'100'

In [ ]:
bin(-1245)

'-0b10011011101'

In [ ]:
# Write a python comment saying 'Day 2: 30 Days of python programming'

In [ ]:
# Declare a first name variable and assign a value to it.
first_name = 'Fizan'
print(first_name)

Fizan

In [ ]:
# Declare a last name variable and assign a value to it.
last_name = 'Latif'
print(last_name)

Latif

In [ ]:
# Declare a full name variable and assign a value to it.
full_name = 'Fizan Latif'
print(full_name)

Fizan Latif

In [ ]:
# Declare a country variable and assign a value to it.
country = 'Pakistan'
print(country)

Pakistan

In [ ]:
# Declare a city variable and assign a value to it.
city = 'Bahawalpur'
print(city)

Bahawalpur

In [ ]:
# Declare an age variable and assign a value to it.
age = 19
print(age)

19

In [ ]:
# Declare a year variable and assign a value to it.
year = 2024
print(year)

2024

In [ ]:
# Declare a variable is_married and assign a value to it.
is_married = False
print(is_married)

False

In [ ]:
# Declare a variable is_true and assign a value to it.
is_true = True
print(is_true)

True

In [ ]:
# Declare a variable is_light_on and assign a value to it.
is_light_on = True
print(is_light_on)

True

In [ ]:
# Declare multiple variable on one line.
first_name, last_name, full_name = 'Fizan', 'Latif', 'Fizan Latif'
print(first_name, last_name, full_name)

Fizan Latif Fizan Latif

#Day-1 Excercise 1
#BUILTIN FUNCTIONS

In [ ]:
# Check the data type of all your variables using type() built-in function.
name = 'Fizan'
print(type(name))
num = 1 + 23j
print(type(num))

<class 'str'>
<class 'complex'>

In [ ]:
# Using the len() built-in function, find the length of your first name.
first_name = 'Fizan'
print(len(first_name))

5

In [ ]:
# Compare the length of your first name and your last name.
first_name = 'Fizan'
last_name = 'Latif'
print(len(first_name) > len(last_name))

False

In [ ]:
# Declare 5 as num_one and 4 as num_two
# Add num_one and num_two and assign the value to a variable total
num_one = 5
num_two = 4
total = num_one + num_two
print(total)

9

In [ ]:
# Subtract num_two from num_one and assign the value to a variable diff
num_two = 4
num_one = 5
diff = num_two - num_one
print(diff)

-1

In [ ]:
# Multiply num_two and num_one and assign the value to a variable product
num_two = 4
num_one = 5
product = num_two * num_one
print(product)

20

In [ ]:
# Divide num_one by num_two and assign the value to a variable division
num_one = 5
num_two
division = num_one/num_two
print(division)

1.25

In [ ]:
# Use modulus division to find num_two divided by num_one and assign the value to a variable remainder
num_one = 5
num_two = 4
remainder = num_two % num_one
print(remainder)

4

In [ ]:
# Calculate num_one to the power of num_two and assign the value to a variable exp
num_one = 5
num_two = 4
exp = num_one ** num_two
print(exp)

625

In [ ]:
# Find floor division of num_one by num_two and assign the value to a variable floor_division
num_one = 5
num_two = 4
floor_division = num_one // num_two
print(floor_division)

1

In [ ]:
# The radius of a circle is 30 meters.
# Calculate the area of a circle and assign the value to a variable name of area_of_circle
raduis = 30
area_of_circle = 3.14 * raduis**2
print(area_of_circle)

2826.0

In [ ]:
# Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle
raduis = 30
circum_of_circle = 2 * 3.14 * raduis
print(circum_of_circle)

188.4

In [ ]:
# Take radius as user input and calculate the area.
user_input = int(input("Enter the raduis: "))
area_of_circle = 3.14 * user_input*2
print(area_of_circle)

Enter the raduis: 46
288.88

In [ ]:
# Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
country = input("Enter your country: ")
age = int(input("Enter your age: "))

Enter your first name: Fizan
Enter your last name: Latif
Enter your country: Pakistan
Enter your age: 19

In [ ]:
# Run help('keywords') in Python shell or in your file to check for the Python reserved words or keywords
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

False

#Day 3
#OPERATORS

In [ ]:
x = 3
x <<= 3
print(x)

24

In [ ]:
# Declare your age as integer variable
Age = 19

In [ ]:
# Declare your height as a float variable
Height = 5.7

In [ ]:
# Declare a variable that store a complex number
unknown_num = 3 + 5j

In [ ]:
# Write a script that prompts the user to enter base and height of the triangle and calculate an area of this triangle (area = 0.5 x b x h)
Base_value = float(input("Enter the base value: "))
Height_value = float(input("Enter the height value: "))
area_of_circle = 0.5 * Base_value * Height_value
print(area_of_circle)

Enter the base value: 20
Enter the height value: 10
100.0

In [ ]:
# Write a script that prompts the user to enter side a, side b, and side c of the triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).
side_a_value = input("Enter the side a value: ")
side_b_value = input("Enter the side b value: ")
side_c_value = input("Enter the side c value: ")
perimeter_of_triangle = int(side_a_value) + int(side_b_value) + int(side_c_value)
print(perimeter_of_triangle)

Enter the side a value: 324
Enter the side b value: 34
Enter the side c value: 58
416

In [ ]:
# Get length and width of a rectangle using prompt. Calculate its area (area = length x width) and perimeter (perimeter = 2 x (length + width))
length_of_rectangle = int(input("Enter the length of rectangle: "))
width_of_rectangle = int(input("Enter the width of rectangle: "))
area_of_rectangle = length_of_rectangle * width_of_rectangle
perimeter_of_triangle = 2 * (length_of_rectangle + width_of_rectangle)
print(area_of_rectangle)
print(perimeter_of_triangle)

Enter the length of rectangle: 23
Enter the width of rectangle: 4
92
54

In [ ]:
# Get radius of a circle using prompt. Calculate the area (area = pi x r x r) and circumference (c = 2 x pi x r) where pi = 3.14.
radius_of_circle = float(input("Enter the radius of cirlce: "))
area_of_circle = 3.14 * radius_of_circle * radius_of_circle
circumference_of_circle = 2 * 3.14 * radius_of_circle
print(area_of_circle)
print(circumference_of_circle)

Enter the radius of cirlce: 57
10201.86
357.96000000000004

In [ ]:
# Calculate the slope, x-intercept and y-intercept of y = 2x -2

In [ ]:
# Check if int('9.8') is equal to 10
print(int(9.8) == 10)

False

In [ ]:
# Check if type of '10' is equal to type of 10
print(type('10') == type(10))

False

In [ ]:
# Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.
print(7 // 3 == int(2.7))

True

In [ ]:
# Even numbers are divisible by 2 and the remainder is zero. How do you check if a number is even or not using python?
print(2 % 2 == 0)

True

In [ ]:
# Find the length of the text python and convert the value to float and convert it to string
print(len('Python'))
print(float(len('Python')))
print(str('Python'))

6
6.0
Python

In [ ]:
# Find the length of 'python' and 'dragon' and make a falsy comparison statement.
print(len('Python')) == (len('Dragon'))

6

False

In [ ]:
# Use and operator to check if 'on' is found in both 'python' and 'dragon'.
print(('on' in 'python' and 'on' in 'dragon'))

True

In [ ]:
# I hope this course is not full of jargon. Use in operator to check if jargon is in the sentence.
print('jargon' in 'I hope this course is not full of jargon')

True

In [ ]:
# There is no 'on' in both dragon and python.
print('on' not in 'dragon' and 'on' not in 'python')

False

In [ ]:
# Find the length of the text python and convert the value to float and convert it to string
print(len('python'))
print(float(len('python')))
print(str('python'))

6
6.0
python

In [ ]:
# Even numbers are divisible by 2 and the remainder is zero. How do you check if a number is even or not using python?
print(2 % 2 == 0)

True

In [ ]:
# Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.
print(7 // 3 == int(2.7))

True

In [ ]:
# Check if type of '10' is equal to type of 10
print(type('10') == type(10))

False

In [ ]:
# Check if int('9.8') is equal to 10
print(int(9.8) == 10)

False

In [ ]:
# Writ a script that prompts the user to enter hours and rate per hour. Calculate pay of the person?
Hours = int(input('Enter hours: '))
Rate_Per_Hour = int(input('Enter rate per hour: '))
pay_per_person = Hours * Rate_Per_Hour
print(pay_per_person)
Weekly_pay = pay_per_person * 7
print(Weekly_pay)

Enter hours: 8
Enter rate per hour: 100
800
5600

In [ ]:
# Write a script that prompts the user to enter number of years. Calculate the number of seconds a person can live. Assume a person can live hundred years
number_of_years = int(input('Enter number of years: '))
number_of_second = number_of_years * 31536000
print(number_of_second)

Enter number of years: 100
3153600000

In [ ]:
# Write a Python script that displays the following table
print('1 1 1 1 1\n2 1 2 4 8\n3 1 3 9 27\n4 1 4 16 64\n5 1 5 25 125')

1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125

In [ ]:
# Calculate the slope, x-intercept and y-intercept of y = 2x -2
print("y = 2x - 2 '2' is slope")
print('x-intercept = 0')
print('y-intercept = -2')

y = 2x - 2 '2' is slope
x-intercept = 0
y-intercept = -2

In [ ]:
# y = 2x - 2
m = 2
b = -2
y_intercept = -2
print(f'y = {m}x + {b}')

y = 2x + -2

In [ ]:
# Calculate the slope, x-intercept and y-intercept of y = 2x -2
m = 2
b = -2
    #  0 = 2x - 2
    # x = 1
x_intercept = (1,0)
    #  y = 2(0) - 2
    #  y = -2
y_intercept = (-2,0)
print(f'y = {m}x + {b}')

y = 2x + -2

In [ ]:
# Slope is (m = y2-y1/x2-x1). Find the slope and Euclidean distance between point (2, 2) and point (6,10)
m = (10 - 2)/(6 - 2)
# d = (x2 - x1)**2 + (y2 - y1)**2
d = (6 - 2)**2 + (10 - 2)**2
print(d,m)

80 2.0

In [ ]:
# Compare the slopes in tasks 8 and 9.

In [ ]:
# Calculate the value of y (y = x^2 + 6x + 9). Try to use different x values and figure out at what x value y is going to be 0.
x = 0
y = x**2 + 6*x + 9
print(y)

9

#Day-3 Excercise


#STRINGS

In [ ]:
# Concatenate the string 'Thirty', 'Days', 'Of', 'Python' to a single string, 'Thirty Days Of Python'.
print('Thirty' + ' ' + 'Days' + ' ' + 'Of'+ ' ' + 'Python')

Thirty Days Of Python

In [ ]:
# Concatenate the string 'Coding', 'For' , 'All' to a single string, 'Coding For All'.
print('Coding'+ ' ' + 'For' + ' ' + 'All')

Coding For All

In [ ]:
# Declare a variable named company and assign it to an initial value "Coding For All".
company = 'Coding For All'
print(company)

Coding For All

In [ ]:
x = 8
y = 6
x = x + 6
y = y + 2
print("Y")

Y

In [ ]:
# Print the variable company using print().
print(f'company')

company

In [ ]:
# Print the length of the company string using len() method and print().
company = 'Coding For All'
print(len(company))

14

In [ ]:
# Change all the characters to uppercase letters using upper() method.
company = 'Coding For All'
print(company.upper())

CODING FOR ALL

In [ ]:
# Change all the characters to lowercase letters using lower() method.
company = 'Coding For All'
print(company.lower())

coding for all

In [ ]:
# Use capitalize(), title(), swapcase() methods to format the value of the string Coding For All.
company = 'Coding For All'
print(company.capitalize())
print(company.title())
print(company.swapcase())

Coding for all
Coding For All
cODING fOR aLL

In [ ]:
# Cut(slice) out the first word of Coding For All string.
company = 'Coding For All'
print(company[7: ])

For All

In [ ]:
company = 'Coding For All'
print(company[0:7:])

Coding

In [ ]:
# Check if Coding For All string contains a word Coding using the method index, find or other methods.
company = 'Coding For All'
print(company.index('All'))

11

In [ ]:
# Replace the word coding in the string 'Coding For All' to Python.
company = 'Coding For All'
print(company.replace('Coding For All','the word coding'))

the word coding

In [ ]:
# Change Python for Everyone to Python for All using the replace method or other methods.
company = 'Python for Everyone'
print(company.replace('Python for Everyone','Python for All'))

Python for All

In [ ]:
# Split the string 'Coding For All' using space as the separator (split()) .
company = 'Coding For All'
print(company.split())

['Coding', 'For', 'All']

In [ ]:
# "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon" split the string at the comma.
company = "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon"
print(company.split())

['Facebook,', 'Google,', 'Microsoft,', 'Apple,', 'IBM,', 'Oracle,', 'Amazon']

In [ ]:
# What is the character at index 0 in the string Coding For All.
company = 'Coding For All'
print(company[0])

C

In [ ]:
# What is the last index of the string Coding For All.
company = 'Coding For All'
print(company[-1])

l

In [ ]:
# What character is at index 10 in "Coding For All" string.
company = 'Coding For All'
print(company[10])

In [ ]:
# Create an acronym or an abbreviation for the name 'Python For Everyone'.
company = 'Python For Everyone'
print(company.replace('Python For Everyone', 'PFE'))

PFE

In [ ]:
# Create an acronym or an abbreviation for the name 'Coding For All'.
company = 'Coding For All'
print(company.replace('Coding For All', 'CFA'))

CFA

In [ ]:
# Use index to determine the position of the first occurrence of C in Coding For All.
company = 'Coding For All'
print(company.index('C'))

0

In [ ]:
# Use index to determine the position of the first occurrence of F in Coding For All.
company = 'Coding For All'
print(company.index('F'))

7

In [ ]:
# Use rfind to determine the position of the last occurrence of l in Coding For All People.
company = 'Coding For All People'
print(company.rfind('l'))

19

In [ ]:
# Use index or find to find the position of the first occurrence of the word 'because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
sentence = 'You cannot end a sentence with because because because is a conjunction'
print(sentence.index('because'))

31

In [ ]:
# Use rindex to find the position of the last occurrence of the word because in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
sentence = 'You cannot end a sentence with because because because is a conjuction'
print(sentence.rindex('because'))

47

In [ ]:
# Slice out the phrase 'because because because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'\
sentence = 'You cannot end a sentence with because because because is a conjunction'
print(sentence.index('because'))
print(sentence[31:39])
print(sentence[31:54])

31
because
because because because

In [ ]:
# Find the position of the first occurrence of the word 'because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
sentence = 'You cannot end a sentence with because because because is a conjunction'
print(sentence.index('because'))

31

In [ ]:
# Slice out the phrase 'because because because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
sentence = 'You cannot end a sentence with because because because is a conjunction'
print(sentence[31:39])

because

In [ ]:
# Does ''Coding For All' start with a substring Coding?
company = 'Coding For All'
print(company.startswith('For'))

False

In [ ]:
# Does 'Coding For All' end with a substring coding?
company = 'Coding For All'
print(company.endswith('All'))

True

In [ ]:
# '   Coding For All      '  , remove the left and right trailing spaces in the given string.
company = '   Coding For All      '
print(company.strip())

Coding For All

In [ ]:
# Which one of the following variables return True when we use the method isidentifier():
# 30DaysOfPython
# thirty_days_of_python
company = '30DaysOfPython'
company_1 = 'thirty_days_of_python'
print(company.isidentifier())
print(company_1.isidentifier())

False
True

In [ ]:
# The following list contains the names of some of python libraries: ['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']. Join the list with a hash with space string.
Df = ['Django','Flask','Bottle','Pyramid','Falcon']
result = ('# '.join(Df))
print(result)

Django# Flask# Bottle# Pyramid# Falcon

In [ ]:
# Use the new line escape sequence to separate the following sentences.
print('I am enjoying this challenge.\nI just wonder what is next.')

I am enjoying this challenge.
I just wonder what is next.

In [ ]:
# Use a tab escape sequence to write the following lines.
Intro = ('NameAge,Country,City\nAsabeneh,250,Finland,Helsinki')
logic = (Intro.replace(',','\t'))
print(logic)

NameAge	Country	City
Asabeneh	250	Finland	Helsinki

In [ ]:
# Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
result = 'The area of a circle with radius {} is {} meters square.'.format(radius,area)
print(result)

The area of a circle with radius 10 is 314.0 meters square.

In [ ]:
# Make the following using string formatting methods:
# 8 + 6 = 14
# 8 - 6 = 2
# 8 * 6 = 48
# 8 / 6 = 1.33
# 8 % 6 = 2
# 8 // 6 = 1
# 8 ** 6 = 262144
num1 = 8
num2 = 6
Add = ('The addition of {} and {} is {}.').format(num1,num2,num1 + num2)
print(Add)
num1 = 8
num2 = 6
Subtract = ('The subtraction of {} and {} is {}.').format(num1,num2,num1 - num2)
print(Subtract)
num1 = 8
num2 = 6
Multiply = ('The multiplication of {} and {} is {}.').format(num1,num2,num1 * num2)
print(Multiply)
num1 = 8
num2 = 6
Divide = ('The division of {} and {} is {}.').format(num1,num2,num1 / num2)
print(Divide)
num1 = 8
num2 = 6
Remainder = ('The remainder of {} and {} is {}.').format(num1,num2,num1%num2)
print(Remainder)
num1 = 8
num2 = 6
floor_division = ('The floor division of {} and {} is {}.').format(num1,num2,num1//num2)
print(floor_division)
num1 = 8
num2 = 6
Exponent = ('The exponent of {} and {} is {}.').format(num1,num2,num1**num2)
print(Exponent)

The addition of 8 and 6 is 14.
The subtraction of 8 and 6 is 2.
The multiplication of 8 and 6 is 48.
The division of 8 and 6 is 1.3333333333333333.
The remainder of 8 and 6 is 2.
The floor division of 8 and 6 is 1.
The exponent of 8 and 6 is 262144.

#DAY 5
#List

In [ ]:
lst = [1,'Fizan']
print(lst)

[1, 'Fizan']

In [ ]:
lst1 = []
print(lst1)

[]

In [ ]:
dict = {'Name': 'Fizan Latif','City': 'Bahawalpur'}
print(type(dict))
print(dict)
print(dict['Name'])

<class 'dict'>
{'Name': 'Fizan Latif', 'City': 'Bahawalpur'}
Fizan Latif

In [ ]:
fruits = ['Apple','Banana','Orange','Mango','Grapes']
Fruits = fruits[-3]
print(Fruits)

Orange

In [ ]:
# Unpacking List Items
counting = [1,3,5,7,8,9,4,3,7,10]
first_num,second_num, *rest,tenth,seventh = counting
print(first_num)
print(second_num)
print(rest)
print(tenth)
print(seventh)

1
3
[5, 7, 8, 9, 4, 3]
7
10

In [ ]:
# Slicing Items from a List
lst = ['Apple','Banana','Orange','Mango','Grapes']
print(lst[::-1])
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
print(vegetable[1:3])

['Grapes', 'Mango', 'Orange', 'Banana', 'Apple']
['Potato', 'Tomato']

In [ ]:
# Modifying List
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits[0] = 'Pineapple'
print(fruits)
animals = ['Lion','Tiger','Leopard','Monkey']
animals[2] = 'Donkey'
print(animals)

['Pineapple', 'Banana', 'Orange', 'Mango', 'Grapes']
['Lion', 'Tiger', 'Donkey', 'Monkey']

In [ ]:
# Checking Items in a List
fruits = ['Apple','Banana','Orange','Mango','Grapes']
does_exist = 'Orange' in fruits
print(does_exist)
does_not_exist = 'Pineapple' in fruits
print(does_not_exist)

True
False

In [ ]:
# Adding Items to a List
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits.append('Pineapple')
print(fruits)
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
vegetable.append('Onion')
print(vegetable)

['Apple', 'Banana', 'Orange', 'Mango', 'Grapes', 'Pineapple']
['Carrot', 'Potato', 'Tomato', 'Ladyfinger', 'Onion']

In [ ]:
# Inserting Items into a List
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits.insert(2,'Pineapple')
print(fruits)
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
vegetable.insert(3,'Onion')
print(vegetable)

['Apple', 'Banana', 'Pineapple', 'Orange', 'Mango', 'Grapes']
['Carrot', 'Potato', 'Tomato', 'Onion', 'Ladyfinger']

In [ ]:
# Removing Items from a List
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits.remove('Apple')
print(fruits)
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
vegetable.remove('Potato')
print(vegetable)

['Banana', 'Orange', 'Mango', 'Grapes']
['Carrot', 'Tomato', 'Ladyfinger']

In [ ]:
# Removing Items Using Pop
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits.pop()
print(fruits)
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
vegetable.pop(2)
print(vegetable)

['Apple', 'Banana', 'Orange', 'Mango']
['Carrot', 'Potato', 'Ladyfinger']

In [ ]:
# Removing Items Using del
fruits = ['Apple','Banana','Orange','Mango','Grapes']
del fruits[0:4]
print(fruits)
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
del vegetable[3]
print(vegetable)

['Grapes']
['Carrot', 'Potato', 'Tomato']

In [ ]:
# Clearing List Items
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits.clear()
print(fruits)

[]

In [ ]:
# Copying a List
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits_copy = fruits.copy()
fruits_copy.append('Pineapple')
print(fruits_copy)

['Apple', 'Banana', 'Orange', 'Mango', 'Grapes', 'Pineapple']

In [ ]:
# Joining Lists
fruits = ['Apple','Banana','Orange','Mango','Grapes']
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
veg_fru = fruits + vegetable
print(veg_fru)
vegetable.extend(fruits)
print(vegetable)

['Apple', 'Banana', 'Orange', 'Mango', 'Grapes', 'Carrot', 'Potato', 'Tomato', 'Ladyfinger']
['Carrot', 'Potato', 'Tomato', 'Ladyfinger', 'Apple', 'Banana', 'Orange', 'Mango', 'Grapes']

In [ ]:
# Reversing a List
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits.reverse()
print(fruits)
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
vegetable.reverse()
print(vegetable)

['Grapes', 'Mango', 'Orange', 'Banana', 'Apple']
['Ladyfinger', 'Tomato', 'Potato', 'Carrot']

In [ ]:
# Sorting List Items
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits.sort(reverse = True)
print(fruits)

['Orange', 'Mango', 'Grapes', 'Banana', 'Apple']

In [ ]:
# Sorted List Items
fruits = ['Apple','Banana','Orange','Mango','Grapes']
sorted_fruits = sorted(fruits)
print(sorted_fruits)

['Apple', 'Banana', 'Grapes', 'Mango', 'Orange']

#💻 Exercises: Day 5

In [ ]:
# Declare an empty list
lst = []
print(lst)

[]

In [ ]:
# Declare a list with more than 5 items
numbers = [3,5,7,4,3,2,1]
print(numbers)

[3, 5, 7, 4, 3, 2, 1]

In [ ]:
# Find the length of your list
numbers = [3,5,7,4,3,2,1]
print(len(numbers))

7

In [ ]:
# Get the first item, the middle item and the last item of the list
numbers = [3,5,7,4,3,2,1]
print(numbers[0])
print(numbers[-1])
print(numbers[3])

3
1
4

In [ ]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['FizanLatif',19,5.8,'Non Married','Pakistan']
print(mixed_data_types)

['FizanLatif', 19, 5.8, 'Non Married', 'Pakistan']

In [ ]:
# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# Print the list using print()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# Print the number of companies in the list
print(len(it_companies))

7

In [ ]:
# Print the first, middle and last company
print(it_companies[0])
print(it_companies[3])
print(it_companies[-1])

Facebook
Apple
Amazon

In [ ]:
# Print the list after modifying one of the companies
it_companies[2] = 'Tesla'
print(it_companies)

['Facebook', 'Google', 'Tesla', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# Add an IT company to it_companies
it_companies.append('Openai')
print(it_companies)

['Facebook', 'Google', 'Tesla', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Openai']

In [ ]:
# Insert an IT company in the middle of the companies list
it_companies = ['Facebook', 'Google', 'Tesla', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Openai']
it_companies.insert(3,'X')
print(it_companies)

['Facebook', 'Google', 'Tesla', 'X', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Openai']

In [ ]:
# Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[1] = 'GOOGLE'
print(it_companies)

['Facebook', 'GOOGLE', 'Tesla', 'X', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Openai']

In [ ]:
# Join the it_companies with a string '#;  '
it_companies = ['Facebook', 'GOOGLE', 'Tesla', 'X', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Openai']
print('# '.join(it_companies))

Facebook# GOOGLE# Tesla# X# Apple# IBM# Oracle# Amazon# Openai

In [ ]:
# Check if a certain company exists in the it_companies list.
print('WhatsApp' in  it_companies)

False

In [ ]:
# Sort the list using sort() method
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'GOOGLE', 'IBM', 'Openai', 'Oracle', 'Tesla', 'X']

In [ ]:
# Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

['X', 'Tesla', 'Oracle', 'Openai', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']

In [ ]:
# Slice out the first 3 companies from the list
it_companies.sort()
print(it_companies[0:3])

['Amazon', 'Apple', 'Facebook']

In [ ]:
# Slice out the last 3 companies from the list
print(it_companies[-3:])

['Oracle', 'Tesla', 'X']

In [ ]:
# Slice out the middle IT company or companies from the list
print(len(it_companies))
print(it_companies)
print(it_companies[4])

9
['Amazon', 'Apple', 'Facebook', 'GOOGLE', 'IBM', 'Openai', 'Oracle', 'Tesla', 'X']
IBM

In [ ]:
# Remove the first IT company from the list
it_companies.remove('Apple')
print(it_companies)

['GOOGLE', 'IBM', 'Openai', 'Oracle', 'Tesla']

In [ ]:
# Remove the middle IT company or companies from the list
print(it_companies)
print(it_companies.pop(2))
print(it_companies)

['GOOGLE', 'IBM', 'Oracle']
Oracle
['GOOGLE', 'IBM']

In [ ]:
# Remove all IT companies from the list
it_companies = ['Facebook', 'GOOGLE', 'Tesla', 'X', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Openai']
it_companies.clear()
print(it_companies)

[]

In [ ]:
# Destroy the IT companies list
it_companies = ['Facebook', 'GOOGLE', 'Tesla', 'X', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Openai']
del it_companies

In [ ]:
# Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
joined_lst = front_end + back_end
print(joined_lst)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [ ]:
# After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.
full_stack = joined_lst.copy()
print(full_stack)
full_stack.insert(4,'Python')
full_stack.insert(2,'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'SQL', 'JS', 'React', 'Python', 'Redux', 'Node', 'Express', 'MongoDB']

#Exercises: Level 2

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#Sort the list and find the min and max age
ages.sort()
print(ages)
min_age = (ages[0])
max_age = (ages[-1])
print(ages[0])
print(ages[-1])
#Add the min age and the max age again to the list
add_Ages = min_age + max_age
x = ('The sum of {} and {} are {}.').format(min_age, max_age,add_Ages)
print(x)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
The sum of 19 and 26 are 45.

In [ ]:
# Find the median age (one middle item or two middle items divided by two)
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
add = (ages[4] + ages[5])//2
print(add)

24

In [ ]:
# Find the average age (sum of all items divided by their number )
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
add = sum(ages)
print(add/len(ages))

22.8

In [ ]:
# Find the range of the ages (max minus min)
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages[-1] - ages[0])

7

In [ ]:
# Compare the value of (min - average) and (max - average), use abs() method
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
min = ages[0]
max = ages[-1]
avg = sum(ages)/len(ages)
print(abs(min - avg))
print(abs(max - avg))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
3.8000000000000007
3.1999999999999993

In [ ]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];
x = (len(countries))
y = (len(countries))//2
print(x)
print(y)
print(countries[96])

193
96
Lesotho

In [ ]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.

In [ ]:
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first_country, Second_country, Third_country, *scandic_countries = countries
print(first_country)
print(Second_country)
print(Third_country)
print(scandic_countries)

China
Russia
USA
['Finland', 'Sweden', 'Norway', 'Denmark']

# Day 6
# Tuple
# Excercise: Day 6

In [ ]:
# Create an empty tuple
tlp = ()
print(tlp)

()

In [ ]:
# Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
sis_tlp = ('Olivia','Emma','Charlotte','Amelia','Sophia','Mia','Isabella','Ava')
bro_tlp = ('Romeo','Josue','Francisco','Bodhi','Cyrus','Koa','Angelo','Aidan')
print(sis_tlp)
print(bro_tlp)
# Join brothers and sisters tuples and assign it to siblings
sibling = sis_tlp + bro_tlp
print(sibling)
# How many siblings do you have?
print(len(sibling))

('Olivia', 'Emma', 'Charlotte', 'Amelia', 'Sophia', 'Mia', 'Isabella', 'Ava')
('Romeo', 'Josue', 'Francisco', 'Bodhi', 'Cyrus', 'Koa', 'Angelo', 'Aidan')
('Olivia', 'Emma', 'Charlotte', 'Amelia', 'Sophia', 'Mia', 'Isabella', 'Ava', 'Romeo', 'Josue', 'Francisco', 'Bodhi', 'Cyrus', 'Koa', 'Angelo', 'Aidan')
16

In [ ]:
from typing import List
# Modify the siblings tuple and add the name of your father and mother and assign it to family_members
sibling = ('Olivia', 'Emma', 'Charlotte', 'Amelia', 'Sophia', 'Mia', 'Isabella', 'Ava', 'Romeo', 'Josue', 'Francisco', 'Bodhi', 'Cyrus', 'Koa', 'Angelo', 'Aidan')
sibling = list(sibling)
sibling.remove('Isabella')
sibling.append('Naura')
sibling.append('Ayesha')
family_members= tuple(sibling)
print(family_members)

('Olivia', 'Emma', 'Charlotte', 'Amelia', 'Sophia', 'Mia', 'Ava', 'Romeo', 'Josue', 'Francisco', 'Bodhi', 'Cyrus', 'Koa', 'Angelo', 'Aidan', 'Naura', 'Ayesha')

# Excercise: Level 2

In [ ]:
# Unpack siblings and parents from family_members
family_members = ('Olivia', 'Emma', 'Charlotte', 'Amelia', 'Sophia', 'Mia', 'Isabella', 'Ava', 'Romeo', 'Josue', 'Francisco', 'Bodhi', 'Cyrus', 'Koa', 'Angelo', 'Aidan', 'Naura', 'Ayesha')
siblings, parents, *rest = family_members
print(siblings)
print(parents)

Olivia
Emma

In [ ]:
# Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
fruits = ('Apple','Orange','Banana','Mango')
vegetable = ('Onion','Potato','Ladyfinger','Cucumber')
animal = ('Dog','Lion','Tiger','Cat')
food_stuff_tp = fruits + vegetable + animal
print(food_stuff_tp)

('Apple', 'Orange', 'Banana', 'Mango', 'Onion', 'Potato', 'Ladyfinger', 'Cucumber', 'Dog', 'Lion', 'Tiger', 'Cat')

In [ ]:
# Change the about food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lp = list(food_stuff_tp)
print(food_stuff_lp)

['Apple', 'Orange', 'Banana', 'Mango', 'Onion', 'Potato', 'Ladyfinger', 'Cucumber', 'Dog', 'Lion', 'Tiger', 'Cat']

In [ ]:
# Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
print(len(food_stuff_tp))
print(food_stuff_tp[5:7])

12
('Potato', 'Ladyfinger')

In [ ]:
# Slice out the first three items and the last three items from food_staff_lt list
print(food_stuff_lp[0:3])
print(food_stuff_lp[-3:])

['Apple', 'Orange', 'Banana']
['Lion', 'Tiger', 'Cat']

In [ ]:
# Delete the food_staff_tp tuple completely
del food_stuff_tp

In [ ]:

# Check if an item exists in tuple:
# Check if 'Estonia' is a nordic country

# Check if 'Iceland' is a nordic country
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
print('Denmark' in nordic_countries)

print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)

True
False
True

# Day 7
# Sets

In [ ]:
# # sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
# Find the length of the set it_companies
# Add 'Twitter' to it_companies
# Insert multiple IT companies at once to the set it_companies
# Remove one of the companies from the set it_companies
# What is the difference between remove and discard
print(len(it_companies))
it_companies.add('Twitter')
print(it_companies)
it_companies.remove('Twitter')
print(it_companies)
nums = {2,4,6,7,10}
nums.discard(4)
nums.remove(2)
print(nums)

7
{'Apple', 'Amazon', 'Facebook', 'IBM', 'Microsoft', 'Twitter', 'Oracle', 'Google'}
{'Apple', 'Amazon', 'Facebook', 'IBM', 'Microsoft', 'Oracle', 'Google'}
{6, 7, 10}

In [ ]:
# Join A and B
C = A.union(B)
print(C)
# Find A intersection B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A.intersection(B))
# Is A subset of B
print(A.issubset(B))
# Are A and B disjoint sets
print(A.isdisjoint(B))
num = {1,3,4,5,6}
num1 = {2,7,8,9,0}
print(num.isdisjoint(B))

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
True

In [ ]:
# Creating a Dictionary
empty_dict = {}
print(empty_dict)

{}

In [ ]:
person = {
    'first_name': 'John',
    'last_name': 'Smith',
    'age': 30,
    'country': 'USA',
}
rperson = dict(first_name = 'John', last_name = 'Smith', age = 30, country = 'USA')
print(person)
print(rperson)

{'first_name': 'John', 'last_name': 'Smith', 'age': 30, 'country': 'USA'}
{'first_name': 'John', 'last_name': 'Smith', 'age': 30, 'country': 'USA'}

In [ ]:
person = dict(value_1 = '2', value_2 = ['4','4','6','7'], address = '{street = 34f4\nzipcode = 63100}')
print(person)
print(len(person))
print(person['address'])

{'value_1': '2', 'value_2': ['4', '4', '6', '7'], 'address': '{street = 34f4\nzipcode = 63100}'}
3
{street = 34f4
zipcode = 63100}

In [ ]:
print(person.get('address'))
(person['City']) = 'Bahawalpur'
print(person)
person['first_name'] = 'Salman'
print(person)

None
{'first_name': 'Salman', 'last_name': 'Latif', 'age': 23, 'country': 'Pakistan', 'City': 'Bahawalpur'}
{'first_name': 'Salman', 'last_name': 'Latif', 'age': 23, 'country': 'Pakistan', 'City': 'Bahawalpur'}

In [ ]:
person = dict(first_name = 'Salman',last_name = 'Latif',age = 23, country = 'Pakistan')
key = person.keys()
print(key)
print(type(key))

dict_keys(['first_name', 'last_name', 'age', 'country'])
<class 'dict_keys'>

In [ ]:
person = dict(first_name = 'Salman',last_name = 'Latif',age = 23, country = 'Pakistan')
value = person.values()
print(value)
print(type(value))

dict_values(['Salman', 'Latif', 23, 'Pakistan'])
<class 'dict_values'>

In [ ]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
# Join A with B and B with A
A.update(B)
print(A)
C = {23,45,68,4,54,23,23}
print(C)
B.update(A)
print(B)

{19, 20, 22, 24, 25, 26, 27, 28}
{4, 68, 54, 23, 45}
{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
# What is the symmetric difference between A and B
A.symmetric_difference(B)
# Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(set(age))
print(len(age) > len(list(age)))

{19, 22, 24, 25, 26}
False

In [ ]:
# Explain the difference between the following data types: string, list, tuple and set
Data = (1,3,3,5,7,8,34,46)
print(str(Data))
print(list(Data))
print(tuple(Data))
print(set(Data))

(1, 3, 3, 5, 7, 8, 34, 46)
[1, 3, 3, 5, 7, 8, 34, 46]
(1, 3, 3, 5, 7, 8, 34, 46)
{1, 34, 3, 5, 7, 8, 46}

In [ ]:
# I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence?
# Use the split methods and set to get the unique words.

sentence = 'I am a teacher and I love to inspire and teach people.'
sentence.split()
print(set(sentence))

{'a', 'v', 'o', 'I', 'c', 'h', 'p', 'i', 'r', ' ', 'n', 's', '.', 'e', 'l', 'm', 't', 'd'}

In [ ]:
# Create an empty dictionary called dog
dog = dict()
print(dog)
print(type(dog))
# Add name, color, breed, legs, age to the dog dictionary
dog = dict(name = 'Roy',color = 'white',breed = 'German',legs = 'four',age = '1.5 Year')
print(dog)

{}
<class 'dict'>
{'name': 'Roy', 'color': 'white', 'breed': 'German', 'legs': 'four', 'age': '1.5 Year'}

In [ ]:
# Create a student dictionary and add first_name, last_name, gender, age, marital status, skills,
# country, city and address as keys for the dictionary
student = dict(first_name = 'John',last_name = 'Wickson',gender = 'Male',age = 20,marital_status = 'unmarried',
skills = ['Frontend Develpor','Backend Develpor','UI Designer'],country = 'United State',city = 'New York',address
= '23 Street ML')
print(student.keys())

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])

In [ ]:
# Get the length of the student dictionary
print(len(student))
# Get the value of skills and check the data type, it should be a list
print(student['skills'])
print(type(student['skills']))

9
['Frontend Develpor', 'Backend Develpor', 'UI Designer']
<class 'list'>

In [ ]:
# Modify the skills values by adding one or two skills
student['skills'] = 'AI Engineer','ML Engineer','Frontend Develpor','Backend Develpor','UI Designer'
print(student)
# Get the dictionary keys as a list
print(list(student.keys()))
# Get the dictionary values as a list
print(list(student.values()))
# Change the dictionary to a list of tuples using items() method
print(student.items())
# Delete one of the items in the dictionary
del student['city']
# Delete one of the dictionaries
del student

{'first_name': 'John', 'last_name': 'Wickson', 'gender': 'Male', 'age': 20, 'marital_status': 'unmarried', 'skills': ('AI Engineer', 'ML Engineer', 'Frontend Develpor', 'Backend Develpor', 'UI Designer'), 'country': 'United State', 'city': 'New York', 'address': '23 Street ML'}
['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
['John', 'Wickson', 'Male', 20, 'unmarried', ('AI Engineer', 'ML Engineer', 'Frontend Develpor', 'Backend Develpor', 'UI Designer'), 'United State', 'New York', '23 Street ML']
dict_items([('first_name', 'John'), ('last_name', 'Wickson'), ('gender', 'Male'), ('age', 20), ('marital_status', 'unmarried'), ('skills', ('AI Engineer', 'ML Engineer', 'Frontend Develpor', 'Backend Develpor', 'UI Designer')), ('country', 'United State'), ('city', 'New York'), ('address', '23 Street ML')])

# Day 9
# Conditions

In [ ]:
a = int(input('Enter your number: '))
if a > 0 and a % 2 == 0:
    print('a is even and positive integer.')
elif a > 0 and a % 2 != 20:
    print('a is a positive integer')
elif a == 0:
    print('a is zero')
else:
    print('a is negative.')

Enter your number: 12
a is even and positive integer.

In [ ]:
User = str(input('Enter your name: '))
access_level = int(input('Enter your access level: '))
if User == 'Admin' or access_level >= 4:
    print('Access granted!')
else:
    print('Access denied!')

Enter your name: 12
Enter your access level: 5
Access granted!

#💻 Exercises: Day 9
#Exercises: Level 1

In [ ]:
# Get user input using input(“Enter your age: ”). If user is 18 or older, give feedback: You are old enough to drive.
# If below 18 give feedback to wait for the missing amount of years. Output:
user_age = int(input('Enter your age: '))
if user_age > 18:
    print('You are old enough to drive.')

else:
    missing_value = 18 - user_age
    print(f'You need {missing_value} more years to learn drive.')

Enter your age: 12
You need 6 more years to learn drive.

In [ ]:
''' Compare the values of my_age and your_age using if … else. Who is older (me or you)? Use input(“Enter your age: ”)
to get the age as input. You can use a nested condition to print 'year' for 1 year difference in age, 'years' for bigger
differences, and a custom text if my_age = your_age. Output:'''
my_age = 19
your_age = int(input('Enter your age: '))
if your_age > my_age:
    difference = your_age - my_age
    if difference == 1:
      print(f'You are {difference} year older than me.')
    else:
      print(f'You are {difference} years older than me.')
elif your_age < my_age:
    difference = my_age - your_age
    if difference == 1:
      print(f'I am {difference} year older than you.')
    else:
      print(f'I am {difference} years older than you.')
else:
  print('We are same age.')

Enter your age: 34
You are 15 years older than me.

In [ ]:
# Get two numbers from the user using input prompt. If a is greater than b return a is greater than b, if a is less b return a is smaller than b, else a is equal to b. Output:
# Enter number one: 4
# Enter number two: 3
# 4 is greater than 3
a = int(input('Enter number one: '))
b = int(input('Enter number two: '))
if a > b:
    print(f'{a} is greater than {b}.')
elif a < b:
    print(f'{a} is smaller than {b}.')
else:
    print(f'{a} is equal to {b}.')

Enter number one: 336
Enter number two: 23
336 is greater than 23.

# Exercises: Level 2

In [ ]:


# Write a code which gives grade to students according to theirs scores:

# 80-100, A
# 70-89, B
# 60-69, C
# 50-59, D
# 0-49, F

student_marks = int(input('Enter your marks: '))
if student_marks >= 80 and student_marks <= 100:
    print('student get grade A.')
elif student_marks >= 70 and student_marks <= 89:
    print('student get grade B.')
elif student_marks >= 60 and student_marks <= 69:
    print('student get grade C.')
elif student_marks >= 50 and student_marks <= 59:
    print('student get grade D.')
else:
    if student_marks >= 0 and student_marks <= 49:
     print('student get grade F.')
    else:
     print("Please input right numbers.")

Enter your marks: 67
student get grade C.

In [ ]:



# Check if the season is Autumn, Winter, Spring or Summer.
# If the user input is: September, October or November, the season is Autumn.
# December, January or February, the season is Winter. March, April or May,
# the season is Spring June, July or August, the season is Summer

user_input = input('Enter your month: ')
if user_input in ['September', 'October', 'November']:
    print('The season is Autumn.')
elif user_input in ['December', 'January' , 'February']:
    print('The season is Winter.')
elif user_input in ['March' , 'April' , 'May']:
    print('The season is Spring.')
else:
    if user_input in ['June', 'July' , 'August']:
        print('The season is Summer.')
    else:
        print('Please enter the right month.')

Enter your month: May
The season is Spring.

In [ ]:
# The following list contains some fruits:

# fruits = ['banana', 'orange', 'mango', 'lemon']
# If a fruit doesn't exist in the list add the fruit to the list and print the modified list. If the fruit exists print('That fruit already exist in the list')

fruits = ['banana','orange','mango','lemon']
user_input = input('Enter your fruit name: ')
if user_input not in fruits:
    fruits.append(user_input)
    print(fruits)
else:
    print('That fruit already exist in the list')

Enter your fruit name: Apple
['banana', 'orange', 'mango', 'lemon', 'Apple']

# Exercises: Level 3

In [ ]:
# Here we have a person dictionary. Feel free to modify it!

person={
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
    }
#Check if the person dictionary has skills key, if so print out the middle skill in the skills list.
if 'skills' in person:
    print(person['skills'][len(person['skills'])//2])
#Check if the person dictionary has skills key, if so check if the person has 'Python' skill and print out the result.
if 'skills' in person:
  print('Python' in person['skills'])
#  * If a person skills has only JavaScript and React, print('He is a front end developer'), if the person skills has Node, Python, MongoDB,
# print('He is a backend developer'), if the person skills has React, Node and MongoDB, Print('He is a fullstack developer'),
# else print('unknown title') - for more accurate results more conditions can be nested!
if 'skills' in person:
    ('JavaScript'and 'React' in person['skills'])
    print('He is a front end developer.')

Node
True

In [ ]:
#  * If a person skills has only JavaScript and React, print('He is a front end developer'), if the person skills has Node, Python, MongoDB,
# print('He is a backend developer'), if the person skills has React, Node and MongoDB, Print('He is a fullstack developer'),
# else print('unknown title') - for more accurate results more conditions can be nested!
person={
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
    }
if 'skills' in person:
    ('Node'and 'MongoDB' in person['skills'])
    print('He is a backend developer.')
elif 'skills' in person:
    print('He is a front end developer.')
    ('JavaScript'and 'React'  in person['skills'])
elif 'skills' in person:
    ('Python' in person['skills'])
    print('He is a fullstack developer.')
else:
  print('unknown title')

He is a backend developer.

In [ ]:
#  * If the person is married and if he lives in Finland, print the information in the following format:
if person["is_marred"] and person["country"] == 'Finland':
    print(f'{person["first_name"]} {person["last_name"]} lives in {person["country"]}. He is married')

Asabeneh Yetayeh lives in Finland. He is married

# Day 10
# Loops

In [ ]:
person = {
    'first_name:':'Asabeneh',
    'last_name:':'Yetayeh',
    'age:':250,
    'country:':'Finland',
    'is_marred:':True,
    'skills:':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address:':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key, value in person.items():
    print(key, value) # this way we get both keys and values printed out

first_name: Asabeneh
last_name: Yetayeh
age: 250
country: Finland
is_marred: True
skills: ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address: {'street': 'Space street', 'zipcode': '02210'}

In [ ]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        continue
    print('Next number should be ', number + 1) if number != 5 else print("loop's end") # for short hand conditions need both if and else statements
print('outside the loop')

0
Next number should be  1
1
Next number should be  2
2
Next number should be  3
3
4
Next number should be  5
5
loop's end
outside the loop

In [ ]:
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

JavaScript
React
Node
MongoDB
Python

# 💻 Exercises: Day 10
Exercises: Level 1

In [ ]:
# Iterate 0 to 10 using for loop, do the same using while loop.
count = 0
# for i in range(count,11):
#   print(i)
#   count = count + 1
#   if count > 10:
#     break
# while loop
while count <= 10:
  count = count + 1
  print(count)

1
2
3
4
5
6
7
8
9
10
11

In [1]:
i = 10
for i in range(10):
  i = i - 1
  print(i)








# i = 5
# while i >= 1:
#     i = i - 1
#     print(i)
print('Loop Ended!')

-1
0
1
2
3
4
5
6
7
8
Loop Ended!

In [ ]:
# table using while loop