<a href="https://colab.research.google.com/github/fizandata19/30-Days-of-Python/blob/main/30_Days_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1  # Excercise Level 1
#INTRODUCTION

In [ ]:
# Open the python interactive shell and do the following operations. The operands are 3 and 4.
# addition(+)
# subtraction(-)
# multiplication(*)
# modulus(%)
# division(/)
# exponential(**)
# floor division operator(//)
print(3 + 4)
print(3 - 4)
print(3 * 4)
print(3 / 4)
print(3 ** 4)
print(3 % 4)
print(3 // 4)

7
-1
12
0.75
81
3
0

In [ ]:
# Write strings on the python interactive shell. The strings are the following:
# Your name
# Your family name
# Your country
# I am enjoying 30 days of python
print("Fizan Latif")
print("Ansari")
print("Pakistan")
print("I am enjoying 30 days of python")

Fizan Latif
Ansari
Pakistan
I am enjoying 30 days of python

In [ ]:
# Check the data types of the following data:
# 10
# 9.8
# 3.14
# 4 - 4j
# ['Asabeneh', 'Python', 'Finland']
# Your name
# Your family name
# Your country
print(type(10))
print(type(9.8))
print(type(3.14))
print(type(4 - 4j))
print(type(['Asabeneh', 'Python', 'Finland']))
print(type("Fizan Latif"))
print(type("Ansari"))
print(type("Pakistan"))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
# Write an example for different Python data types such as Number(Integer, Float, Complex), String, Boolean, List, Tuple, Set and Dictionary.
print(5675757)
print(3456.546)
print(34 + 4j)
print("StemEye")
print(12 < 2)
print([12,35,"fans"])
print(34,43,56,"fans")
print({"Name = Fizanlatif"})
print(type({"Name = Fizanlatif"}))
print(type({"Age" : "23"}))

5675757
3456.546
(34+4j)
StemEye
False
[12, 35, 'fans']
34 43 56 fans
{'Name = Fizanlatif'}
<class 'set'>
<class 'dict'>

In [ ]:
# Find an Euclidian distance between (2, 3) and (10, 8)

#Day 2 Excercise level 1
#VARIABLES, BUILTIN FUNCTIONS

In [ ]:
# _abs_ Function
print(abs(-23-12.576j))

26.213656288278443

In [ ]:
# All Function
int_list = [1,3,5,7,8]
result = any(int_list)
print(result)

True

In [ ]:
def any(iterable):
    for element in iterable:
        if element:
            return True
    return False

In [ ]:
int_list = ['a = 9','b = 6']
result = any('3')
print(result)

True

In [ ]:
format(4,'b')

'100'

In [ ]:
bin(-1245)

'-0b10011011101'

In [ ]:
# Write a python comment saying 'Day 2: 30 Days of python programming'

In [ ]:
# Declare a first name variable and assign a value to it.
first_name = 'Fizan'
print(first_name)

Fizan

In [ ]:
# Declare a last name variable and assign a value to it.
last_name = 'Latif'
print(last_name)

Latif

In [ ]:
# Declare a full name variable and assign a value to it.
full_name = 'Fizan Latif'
print(full_name)

Fizan Latif

In [ ]:
# Declare a country variable and assign a value to it.
country = 'Pakistan'
print(country)

Pakistan

In [ ]:
# Declare a city variable and assign a value to it.
city = 'Bahawalpur'
print(city)

Bahawalpur

In [ ]:
# Declare an age variable and assign a value to it.
age = 19
print(age)

19

In [ ]:
# Declare a year variable and assign a value to it.
year = 2024
print(year)

2024

In [ ]:
# Declare a variable is_married and assign a value to it.
is_married = False
print(is_married)

False

In [ ]:
# Declare a variable is_true and assign a value to it.
is_true = True
print(is_true)

True

In [ ]:
# Declare a variable is_light_on and assign a value to it.
is_light_on = True
print(is_light_on)

True

In [ ]:
# Declare multiple variable on one line.
first_name, last_name, full_name = 'Fizan', 'Latif', 'Fizan Latif'
print(first_name, last_name, full_name)

Fizan Latif Fizan Latif

#Day-1 Excercise 1
#BUILTIN FUNCTIONS

In [ ]:
# Check the data type of all your variables using type() built-in function.
name = 'Fizan'
print(type(name))
num = 1 + 23j
print(type(num))

<class 'str'>
<class 'complex'>

In [ ]:
# Using the len() built-in function, find the length of your first name.
first_name = 'Fizan'
print(len(first_name))

5

In [ ]:
# Compare the length of your first name and your last name.
first_name = 'Fizan'
last_name = 'Latif'
print(len(first_name) > len(last_name))

False

In [ ]:
# Declare 5 as num_one and 4 as num_two
# Add num_one and num_two and assign the value to a variable total
num_one = 5
num_two = 4
total = num_one + num_two
print(total)

9

In [ ]:
# Subtract num_two from num_one and assign the value to a variable diff
num_two = 4
num_one = 5
diff = num_two - num_one
print(diff)

-1

In [ ]:
# Multiply num_two and num_one and assign the value to a variable product
num_two = 4
num_one = 5
product = num_two * num_one
print(product)

20

In [ ]:
# Divide num_one by num_two and assign the value to a variable division
num_one = 5
num_two
division = num_one/num_two
print(division)

1.25

In [ ]:
# Use modulus division to find num_two divided by num_one and assign the value to a variable remainder
num_one = 5
num_two = 4
remainder = num_two % num_one
print(remainder)

4

In [ ]:
# Calculate num_one to the power of num_two and assign the value to a variable exp
num_one = 5
num_two = 4
exp = num_one ** num_two
print(exp)

625

In [ ]:
# Find floor division of num_one by num_two and assign the value to a variable floor_division
num_one = 5
num_two = 4
floor_division = num_one // num_two
print(floor_division)

1

In [ ]:
# The radius of a circle is 30 meters.
# Calculate the area of a circle and assign the value to a variable name of area_of_circle
raduis = 30
area_of_circle = 3.14 * raduis**2
print(area_of_circle)

2826.0

In [ ]:
# Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle
raduis = 30
circum_of_circle = 2 * 3.14 * raduis
print(circum_of_circle)

188.4

In [ ]:
# Take radius as user input and calculate the area.
user_input = int(input("Enter the raduis: "))
area_of_circle = 3.14 * user_input*2
print(area_of_circle)

Enter the raduis: 46
288.88

In [ ]:
# Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
country = input("Enter your country: ")
age = int(input("Enter your age: "))

Enter your first name: Fizan
Enter your last name: Latif
Enter your country: Pakistan
Enter your age: 19

In [ ]:
# Run help('keywords') in Python shell or in your file to check for the Python reserved words or keywords
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

False

#Day 3
#OPERATORS

In [ ]:
x = 3
x <<= 3
print(x)

24

In [ ]:
# Declare your age as integer variable
Age = 19

In [ ]:
# Declare your height as a float variable
Height = 5.7

In [ ]:
# Declare a variable that store a complex number
unknown_num = 3 + 5j

In [ ]:
# Write a script that prompts the user to enter base and height of the triangle and calculate an area of this triangle (area = 0.5 x b x h)
Base_value = float(input("Enter the base value: "))
Height_value = float(input("Enter the height value: "))
area_of_circle = 0.5 * Base_value * Height_value
print(area_of_circle)

Enter the base value: 20
Enter the height value: 10
100.0

In [ ]:
# Write a script that prompts the user to enter side a, side b, and side c of the triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).
side_a_value = input("Enter the side a value: ")
side_b_value = input("Enter the side b value: ")
side_c_value = input("Enter the side c value: ")
perimeter_of_triangle = int(side_a_value) + int(side_b_value) + int(side_c_value)
print(perimeter_of_triangle)

Enter the side a value: 324
Enter the side b value: 34
Enter the side c value: 58
416

In [ ]:
# Get length and width of a rectangle using prompt. Calculate its area (area = length x width) and perimeter (perimeter = 2 x (length + width))
length_of_rectangle = int(input("Enter the length of rectangle: "))
width_of_rectangle = int(input("Enter the width of rectangle: "))
area_of_rectangle = length_of_rectangle * width_of_rectangle
perimeter_of_triangle = 2 * (length_of_rectangle + width_of_rectangle)
print(area_of_rectangle)
print(perimeter_of_triangle)

Enter the length of rectangle: 23
Enter the width of rectangle: 4
92
54

In [ ]:
# Get radius of a circle using prompt. Calculate the area (area = pi x r x r) and circumference (c = 2 x pi x r) where pi = 3.14.
radius_of_circle = float(input("Enter the radius of cirlce: "))
area_of_circle = 3.14 * radius_of_circle * radius_of_circle
circumference_of_circle = 2 * 3.14 * radius_of_circle
print(area_of_circle)
print(circumference_of_circle)

Enter the radius of cirlce: 57
10201.86
357.96000000000004

In [ ]:
# Calculate the slope, x-intercept and y-intercept of y = 2x -2

In [ ]:
# Check if int('9.8') is equal to 10
print(int(9.8) == 10)

False

In [ ]:
# Check if type of '10' is equal to type of 10
print(type('10') == type(10))

False

In [ ]:
# Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.
print(7 // 3 == int(2.7))

True

In [ ]:
# Even numbers are divisible by 2 and the remainder is zero. How do you check if a number is even or not using python?
print(2 % 2 == 0)

True

In [ ]:
# Find the length of the text python and convert the value to float and convert it to string
print(len('Python'))
print(float(len('Python')))
print(str('Python'))

6
6.0
Python

In [ ]:
# Find the length of 'python' and 'dragon' and make a falsy comparison statement.
print(len('Python')) == (len('Dragon'))

6

False

In [ ]:
# Use and operator to check if 'on' is found in both 'python' and 'dragon'.
print(('on' in 'python' and 'on' in 'dragon'))

True

In [ ]:
# I hope this course is not full of jargon. Use in operator to check if jargon is in the sentence.
print('jargon' in 'I hope this course is not full of jargon')

True

In [ ]:
# There is no 'on' in both dragon and python.
print('on' not in 'dragon' and 'on' not in 'python')

False

In [ ]:
# Find the length of the text python and convert the value to float and convert it to string
print(len('python'))
print(float(len('python')))
print(str('python'))

6
6.0
python

In [ ]:
# Even numbers are divisible by 2 and the remainder is zero. How do you check if a number is even or not using python?
print(2 % 2 == 0)

True

In [ ]:
# Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.
print(7 // 3 == int(2.7))

True

In [ ]:
# Check if type of '10' is equal to type of 10
print(type('10') == type(10))

False

In [ ]:
# Check if int('9.8') is equal to 10
print(int(9.8) == 10)

False

In [ ]:
# Writ a script that prompts the user to enter hours and rate per hour. Calculate pay of the person?
Hours = int(input('Enter hours: '))
Rate_Per_Hour = int(input('Enter rate per hour: '))
pay_per_person = Hours * Rate_Per_Hour
print(pay_per_person)
Weekly_pay = pay_per_person * 7
print(Weekly_pay)

Enter hours: 8
Enter rate per hour: 100
800
5600

In [ ]:
# Write a script that prompts the user to enter number of years. Calculate the number of seconds a person can live. Assume a person can live hundred years
number_of_years = int(input('Enter number of years: '))
number_of_second = number_of_years * 31536000
print(number_of_second)

Enter number of years: 100
3153600000

In [ ]:
# Write a Python script that displays the following table
print('1 1 1 1 1\n2 1 2 4 8\n3 1 3 9 27\n4 1 4 16 64\n5 1 5 25 125')

1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125

In [ ]:
# Calculate the slope, x-intercept and y-intercept of y = 2x -2
print("y = 2x - 2 '2' is slope")
print('x-intercept = 0')
print('y-intercept = -2')

y = 2x - 2 '2' is slope
x-intercept = 0
y-intercept = -2

In [ ]:
# y = 2x - 2
m = 2
b = -2
y_intercept = -2
print(f'y = {m}x + {b}')

y = 2x + -2

In [ ]:
# Calculate the slope, x-intercept and y-intercept of y = 2x -2
m = 2
b = -2
    #  0 = 2x - 2
    # x = 1
x_intercept = (1,0)
    #  y = 2(0) - 2
    #  y = -2
y_intercept = (-2,0)
print(f'y = {m}x + {b}')

y = 2x + -2

In [ ]:
# Slope is (m = y2-y1/x2-x1). Find the slope and Euclidean distance between point (2, 2) and point (6,10)
m = (10 - 2)/(6 - 2)
# d = (x2 - x1)**2 + (y2 - y1)**2
d = (6 - 2)**2 + (10 - 2)**2
print(d,m)

80 2.0

In [ ]:
# Compare the slopes in tasks 8 and 9.

In [ ]:
# Calculate the value of y (y = x^2 + 6x + 9). Try to use different x values and figure out at what x value y is going to be 0.
x = 0
y = x**2 + 6*x + 9
print(y)

9

#Day-3 Excercise


#STRINGS

In [ ]:
# Concatenate the string 'Thirty', 'Days', 'Of', 'Python' to a single string, 'Thirty Days Of Python'.
print('Thirty' + ' ' + 'Days' + ' ' + 'Of'+ ' ' + 'Python')

Thirty Days Of Python

In [ ]:
# Concatenate the string 'Coding', 'For' , 'All' to a single string, 'Coding For All'.
print('Coding'+ ' ' + 'For' + ' ' + 'All')

Coding For All

In [ ]:
# Declare a variable named company and assign it to an initial value "Coding For All".
company = 'Coding For All'
print(company)

Coding For All

In [ ]:
x = 8
y = 6
x = x + 6
y = y + 2
print("Y")

Y

In [ ]:
# Print the variable company using print().
print(f'company')

company

In [ ]:
# Print the length of the company string using len() method and print().
company = 'Coding For All'
print(len(company))

14

In [ ]:
# Change all the characters to uppercase letters using upper() method.
company = 'Coding For All'
print(company.upper())

CODING FOR ALL

In [ ]:
# Change all the characters to lowercase letters using lower() method.
company = 'Coding For All'
print(company.lower())

coding for all

In [ ]:
# Use capitalize(), title(), swapcase() methods to format the value of the string Coding For All.
company = 'Coding For All'
print(company.capitalize())
print(company.title())
print(company.swapcase())

Coding for all
Coding For All
cODING fOR aLL

In [ ]:
# Cut(slice) out the first word of Coding For All string.
company = 'Coding For All'
print(company[7: ])

For All

In [ ]:
company = 'Coding For All'
print(company[0:7:])

Coding

In [ ]:
# Check if Coding For All string contains a word Coding using the method index, find or other methods.
company = 'Coding For All'
print(company.index('All'))

11

In [ ]:
# Replace the word coding in the string 'Coding For All' to Python.
company = 'Coding For All'
print(company.replace('Coding For All','the word coding'))

the word coding

In [ ]:
# Change Python for Everyone to Python for All using the replace method or other methods.
company = 'Python for Everyone'
print(company.replace('Python for Everyone','Python for All'))

Python for All

In [ ]:
# Split the string 'Coding For All' using space as the separator (split()) .
company = 'Coding For All'
print(company.split())

['Coding', 'For', 'All']

In [ ]:
# "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon" split the string at the comma.
company = "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon"
print(company.split())

['Facebook,', 'Google,', 'Microsoft,', 'Apple,', 'IBM,', 'Oracle,', 'Amazon']

In [ ]:
# What is the character at index 0 in the string Coding For All.
company = 'Coding For All'
print(company[0])

C

In [ ]:
# What is the last index of the string Coding For All.
company = 'Coding For All'
print(company[-1])

l

In [ ]:
# What character is at index 10 in "Coding For All" string.
company = 'Coding For All'
print(company[10])

In [ ]:
# Create an acronym or an abbreviation for the name 'Python For Everyone'.
company = 'Python For Everyone'
print(company.replace('Python For Everyone', 'PFE'))

PFE

In [ ]:
# Create an acronym or an abbreviation for the name 'Coding For All'.
company = 'Coding For All'
print(company.replace('Coding For All', 'CFA'))

CFA

In [ ]:
# Use index to determine the position of the first occurrence of C in Coding For All.
company = 'Coding For All'
print(company.index('C'))

0

In [ ]:
# Use index to determine the position of the first occurrence of F in Coding For All.
company = 'Coding For All'
print(company.index('F'))

7

In [ ]:
# Use rfind to determine the position of the last occurrence of l in Coding For All People.
company = 'Coding For All People'
print(company.rfind('l'))

19

In [ ]:
# Use index or find to find the position of the first occurrence of the word 'because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
sentence = 'You cannot end a sentence with because because because is a conjunction'
print(sentence.index('because'))

31

In [ ]:
# Use rindex to find the position of the last occurrence of the word because in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
sentence = 'You cannot end a sentence with because because because is a conjuction'
print(sentence.rindex('because'))

47

In [ ]:
# Slice out the phrase 'because because because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'\
sentence = 'You cannot end a sentence with because because because is a conjunction'
print(sentence.index('because'))
print(sentence[31:39])
print(sentence[31:54])

31
because
because because because

In [ ]:
# Find the position of the first occurrence of the word 'because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
sentence = 'You cannot end a sentence with because because because is a conjunction'
print(sentence.index('because'))

31

In [ ]:
# Slice out the phrase 'because because because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
sentence = 'You cannot end a sentence with because because because is a conjunction'
print(sentence[31:39])

because

In [ ]:
# Does ''Coding For All' start with a substring Coding?
company = 'Coding For All'
print(company.startswith('For'))

False

In [ ]:
# Does 'Coding For All' end with a substring coding?
company = 'Coding For All'
print(company.endswith('All'))

True

In [ ]:
# '   Coding For All      '  , remove the left and right trailing spaces in the given string.
company = '   Coding For All      '
print(company.strip())

Coding For All

In [ ]:
# Which one of the following variables return True when we use the method isidentifier():
# 30DaysOfPython
# thirty_days_of_python
company = '30DaysOfPython'
company_1 = 'thirty_days_of_python'
print(company.isidentifier())
print(company_1.isidentifier())

False
True

In [ ]:
# The following list contains the names of some of python libraries: ['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']. Join the list with a hash with space string.
Df = ['Django','Flask','Bottle','Pyramid','Falcon']
result = ('# '.join(Df))
print(result)

Django# Flask# Bottle# Pyramid# Falcon

In [ ]:
# Use the new line escape sequence to separate the following sentences.
print('I am enjoying this challenge.\nI just wonder what is next.')

I am enjoying this challenge.
I just wonder what is next.

In [ ]:
# Use a tab escape sequence to write the following lines.
Intro = ('NameAge,Country,City\nAsabeneh,250,Finland,Helsinki')
logic = (Intro.replace(',','\t'))
print(logic)

NameAge	Country	City
Asabeneh	250	Finland	Helsinki

In [ ]:
# Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
result = 'The area of a circle with radius {} is {} meters square.'.format(radius,area)
print(result)

The area of a circle with radius 10 is 314.0 meters square.

In [ ]:
# Make the following using string formatting methods:
# 8 + 6 = 14
# 8 - 6 = 2
# 8 * 6 = 48
# 8 / 6 = 1.33
# 8 % 6 = 2
# 8 // 6 = 1
# 8 ** 6 = 262144
num1 = 8
num2 = 6
Add = ('The addition of {} and {} is {}.').format(num1,num2,num1 + num2)
print(Add)
num1 = 8
num2 = 6
Subtract = ('The subtraction of {} and {} is {}.').format(num1,num2,num1 - num2)
print(Subtract)
num1 = 8
num2 = 6
Multiply = ('The multiplication of {} and {} is {}.').format(num1,num2,num1 * num2)
print(Multiply)
num1 = 8
num2 = 6
Divide = ('The division of {} and {} is {}.').format(num1,num2,num1 / num2)
print(Divide)
num1 = 8
num2 = 6
Remainder = ('The remainder of {} and {} is {}.').format(num1,num2,num1%num2)
print(Remainder)
num1 = 8
num2 = 6
floor_division = ('The floor division of {} and {} is {}.').format(num1,num2,num1//num2)
print(floor_division)
num1 = 8
num2 = 6
Exponent = ('The exponent of {} and {} is {}.').format(num1,num2,num1**num2)
print(Exponent)

The addition of 8 and 6 is 14.
The subtraction of 8 and 6 is 2.
The multiplication of 8 and 6 is 48.
The division of 8 and 6 is 1.3333333333333333.
The remainder of 8 and 6 is 2.
The floor division of 8 and 6 is 1.
The exponent of 8 and 6 is 262144.

#DAY 5
#List

In [ ]:
lst = [1,'Fizan']
print(lst)

[1, 'Fizan']

In [ ]:
lst1 = []
print(lst1)

[]

In [ ]:
dict = {'Name': 'Fizan Latif','City': 'Bahawalpur'}
print(type(dict))
print(dict)
print(dict['Name'])

<class 'dict'>
{'Name': 'Fizan Latif', 'City': 'Bahawalpur'}
Fizan Latif

In [ ]:
fruits = ['Apple','Banana','Orange','Mango','Grapes']
Fruits = fruits[-3]
print(Fruits)

Orange

In [ ]:
# Unpacking List Items
counting = [1,3,5,7,8,9,4,3,7,10]
first_num,second_num, *rest,tenth,seventh = counting
print(first_num)
print(second_num)
print(rest)
print(tenth)
print(seventh)

1
3
[5, 7, 8, 9, 4, 3]
7
10

In [ ]:
# Slicing Items from a List
lst = ['Apple','Banana','Orange','Mango','Grapes']
print(lst[::-1])
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
print(vegetable[1:3])

['Grapes', 'Mango', 'Orange', 'Banana', 'Apple']
['Potato', 'Tomato']

In [ ]:
# Modifying List
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits[0] = 'Pineapple'
print(fruits)
animals = ['Lion','Tiger','Leopard','Monkey']
animals[2] = 'Donkey'
print(animals)

['Pineapple', 'Banana', 'Orange', 'Mango', 'Grapes']
['Lion', 'Tiger', 'Donkey', 'Monkey']

In [ ]:
# Checking Items in a List
fruits = ['Apple','Banana','Orange','Mango','Grapes']
does_exist = 'Orange' in fruits
print(does_exist)
does_not_exist = 'Pineapple' in fruits
print(does_not_exist)

True
False

In [1]:
# Adding Items to a List
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits.append('Pineapple')
print(fruits)
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
vegetable.append('Onion')
print(vegetable)

['Apple', 'Banana', 'Orange', 'Mango', 'Grapes', 'Pineapple']
['Carrot', 'Potato', 'Tomato', 'Ladyfinger', 'Onion']

In [3]:
# Inserting Items into a List
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits.insert(2,'Pineapple')
print(fruits)
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
vegetable.insert(3,'Onion')
print(vegetable)

['Apple', 'Banana', 'Pineapple', 'Orange', 'Mango', 'Grapes']
['Carrot', 'Potato', 'Tomato', 'Onion', 'Ladyfinger']

In [6]:
# Removing Items from a List
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits.remove('Apple')
print(fruits)
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
vegetable.remove('Potato')
print(vegetable)

['Banana', 'Orange', 'Mango', 'Grapes']
['Carrot', 'Tomato', 'Ladyfinger']

In [13]:
# Removing Items Using Pop
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits.pop()
print(fruits)
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
vegetable.pop(2)
print(vegetable)

['Apple', 'Banana', 'Orange', 'Mango']
['Carrot', 'Potato', 'Ladyfinger']

In [16]:
# Removing Items Using del
fruits = ['Apple','Banana','Orange','Mango','Grapes']
del fruits[0:4]
print(fruits)
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
del vegetable[3]
print(vegetable)

['Grapes']
['Carrot', 'Potato', 'Tomato']

In [17]:
# Clearing List Items
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits.clear()
print(fruits)

[]

In [21]:
# Copying a List
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits_copy = fruits.copy()
fruits_copy.append('Pineapple')
print(fruits_copy)

['Apple', 'Banana', 'Orange', 'Mango', 'Grapes', 'Pineapple']

In [25]:
# Joining Lists
fruits = ['Apple','Banana','Orange','Mango','Grapes']
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
veg_fru = fruits + vegetable
print(veg_fru)
vegetable.extend(fruits)
print(vegetable)

['Apple', 'Banana', 'Orange', 'Mango', 'Grapes', 'Carrot', 'Potato', 'Tomato', 'Ladyfinger']
['Carrot', 'Potato', 'Tomato', 'Ladyfinger', 'Apple', 'Banana', 'Orange', 'Mango', 'Grapes']

In [2]:
# Reversing a List
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits.reverse()
print(fruits)
vegetable = ['Carrot','Potato','Tomato','Ladyfinger']
vegetable.reverse()
print(vegetable)

['Grapes', 'Mango', 'Orange', 'Banana', 'Apple']
['Ladyfinger', 'Tomato', 'Potato', 'Carrot']

In [4]:
# Sorting List Items
fruits = ['Apple','Banana','Orange','Mango','Grapes']
fruits.sort(reverse = True)
print(fruits)

['Orange', 'Mango', 'Grapes', 'Banana', 'Apple']

In [5]:
# Sorted List Items
fruits = ['Apple','Banana','Orange','Mango','Grapes']
sorted_fruits = sorted(fruits)
print(sorted_fruits)

['Apple', 'Banana', 'Grapes', 'Mango', 'Orange']

#💻 Exercises: Day 5